.DS_Store
*.pyc
dclib-code
caffeData/hd5/*.hd5
caffeData/test.txt
caffeData/train.txt
caffeData/snapshots/*.caffemodel
caffeData/snapshots/*.solverstate
VanillaCNN.xcodeproj/xcuserdata
VanillaCNN.xcodeproj/project.xcworkspace/xcuserdata
output/*.jpeg
outputPostLoassNormlize75000
outputPreLossNormlize
.idea
dumps
data/AFLW
data/lfw_5590/
data/__MACOSX/
data/testimages
*.pickle
data/net_7876
testImageList.txt
training.txt
testing.txt
trainImageList.txt
*.zip
UNUSED
data/readme.txt
python/.ipynb_checkpoints
VanillaCNN.xcodeproj
.project
.pydevproject
*.pdf
testimages
best.caffemodel
*.hd5
test.list.txt
train.list.txt
snap_iter_*
*.cache
clusterLog.txt
.spyderproject
.spyderworkspace
